<h1>Stupid coaching</h1>

<div class="questionsAnswers p-2 mb-5">
  <p><%= @question %></p>
  <p>--You</p>
</div>

<div class="questionsAnswers p-2 mb-5" id="answers">
  <p><strong><%= @answer %></strong></p>
  <p>--Your coach</p>
</div>

<%= link_to "As a new question", ask_path %>
