<h1  class="text-center">Stupid coaching</h1>
<div class="form d-flex justify-content-center align-items-center mt-5">
  <form action="answer" data-turbo="false">
    <input class="p-1" type="text" name="question" placeholder="Ask your question here">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</form>
