<h1  class="text-center mt-3">Stupid coaching</h1>
<div class="form ">
  <form action="answer" data-turbo="false" class="">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-8">
        <label for="question" class="form-label">Ask your coach anything</label>
        <input class="form-control" type="text" name="question" id="question" laceholder="Ask your question here">
      </div>
      <div class="col-4">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </div>


  </form>
</form>
